<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/3a45995daa.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Checklist", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Sign Up", new_user_registration_path  %></li>
          <% if current_user.present? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
        </ul>
          <% if user_signed_in? %>
            <%= link_to "New Item", new_item_path, class: "navbar-link navbar-right navbar-text" %>
          <% end %>

      </div>

    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container col-md-6 col-md-offset-2">
      <%= yield %>
    </div>
    <% if user_signed_in?%>
      <div class="col-md-2 col-md-offset-1">
        <h1><font face="georgia">TAGS</font></h1>
        <% @tags = Item.where(:user_id => current_user.id).tag_counts_on(:tags) %>
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag), :class => css_class %>
        <% end %>
      </div>
    <% end %>


  </body>
</html>
